@page "/"
<PageTitle>Products</PageTitle>


<h1>Products</h1>
<div class="k-card-deck flex-center flex-wrap">
    @if (products == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        foreach (var product in products)
        {
            <OnlineShop.Components.ProductCard Product="@product"></OnlineShop.Components.ProductCard>
        }
    }
    
</div>

