.title {
    text-align: center;
    font-size: 20px;
}

.img {
    border-radius: 6px;
    margin-bottom: 15px;
}

.my-button {
    color: black;
    background-color: ghostwhite;
    padding: 10px 20px;
    border-radius: 6px;
}

.info {
    color: black;
    font-size: 15px;
}

i {
    margin-right: 5px;
}
.out-stock{
    color:red;
}
.in-stock{
    color:green;
}
.card {
    color: green;
}
